body {
  background-image: url("Fon_tg.jpg");
  background-repeat: repeat;
  color: #333;
}

header {
  background-color: #444;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #444;
  color: #fff;
  padding: 20px;
  text-align: center;
}
